/*_fonts_*/
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
html {

	background-image: url('./assets/img/background.jpg');
   background-repeat: no-repeat;
   background-position: right;
   background-size: cover;
   height: 100%;
   font-family: 'Oswald', sans-serif;
   color: aliceblue;
}


/*_header_*/

.header-wrapper {
   margin: 2% auto;
}

h1{
   text-align: center;
   font-family: 'Oswald', sans-serif;
   color: aliceblue;
}


/*_main_   */


.main-wrapper {
   
	height: 34.8em;
	margin: 2% auto 0;
	position: relative;
	width: 28.5em;
}

.slider {
	height: inherit;
	overflow: hidden;
	position: relative;
	width: inherit;
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	-o-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

.slides {
   overflow: hidden;
	height: inherit;
   position: absolute;
	opacity: 0;
	width: inherit;
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
	z-index: 0;
   font-size: 1.4em;
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: transform ease-in-out .6s, opacity ease-in-out .6s;
	-moz-transition: transform ease-in-out .6s, opacity ease-in-out .6s;
	-o-transition: transform ease-in-out .6s, opacity ease-in-out .6s;
	transition: transform ease-in-out .6s, opacity ease-in-out .6s;
}

.slider > .slide1 { background-image: url('./assets/img/slide1.jpg'); }
.slider > .slide2 { background-image: url('./assets/img/slide2.jpeg'); }
.slider > .slide3 { background-image: url('./assets/img/slide3.jpg'); }
.slider > .slide4 { background-image: url('./assets/img/slide4.jpg'); }

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4,
#slide1:checked ~ .wrapper-controls > .info > .slide1,
#slide2:checked ~ .wrapper-controls > .info > .slide2,
#slide3:checked ~ .wrapper-controls > .info > .slide3,
#slide4:checked ~ .wrapper-controls > .info > .slide4 {
	opacity: 1;
	z-index: 1;
   display: block;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

.main-wrapper > input {
	display: none;
}

.wrapper-controls {
   height: 9%;
   padding-top: 4%;
	display: flex;
   justify-content: space-between;
   flex-direction: row-reverse;
}

.main-wrapper .controls {
   margin-top: 1.5%;
   width: 30%;
   display: flex;
   justify-content: space-around;
}


#slide1:checked ~ .wrapper-controls .controls .wrapper-label-1 div,
#slide2:checked ~ .wrapper-controls .controls .wrapper-label-2 div,
#slide3:checked ~ .wrapper-controls .controls .wrapper-label-3 div,
#slide4:checked ~ .wrapper-controls .controls .wrapper-label-4 div{
	background: rgb(255, 255, 255);
}	

.wrapper-label div {
	border: 0.3em solid rgb(0, 0, 0);
	background: rgb(0, 0, 0);
	cursor: pointer;
	display: inline-block;
	height: 50%;
	width: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	transition: 1s;
}

.wrapper-label:hover>div {
	background-color: rgb(205, 99, 0);
	border-color: rgb(205, 99, 0);
}

.wrapper-label {
	cursor: pointer;
	display: flex;
	height: 2em;
	width: 2em;
	align-items: center;
	justify-content: center;
}

.wrapper-label:hover {
	cursor: pointer;
}

@media (min-width: 768px) {
}

@media (max-width: 767px) {

   .wrapper-controls {
      display: flex;
      flex-direction: column;
   }
   .controls {
      margin: 0 auto;
   }
   .info {
      padding-top: 4%;
   }


}